<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Phase3-Project" data-toc-modified-id="Phase3-Project-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Phase3 Project</a></span><ul class="toc-item"><li><span><a href="#Business-Objective" data-toc-modified-id="Business-Objective-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Business Objective</a></span></li></ul></li><li><span><a href="#Dataset" data-toc-modified-id="Dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Dataset</a></span></li><li><span><a href="#EDA" data-toc-modified-id="EDA-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>EDA</a></span><ul class="toc-item"><li><span><a href="#Checking-for-Null-values" data-toc-modified-id="Checking-for-Null-values-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Checking for Null values</a></span></li><li><span><a href="#Examining-the-traget-feature" data-toc-modified-id="Examining-the-traget-feature-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Examining the traget feature</a></span></li><li><span><a href="#Checking-the-datatypes" data-toc-modified-id="Checking-the-datatypes-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Checking the datatypes</a></span><ul class="toc-item"><li><span><a href="#Numeric-data" data-toc-modified-id="Numeric-data-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Numeric data</a></span></li><li><span><a href="#Categorical-data" data-toc-modified-id="Categorical-data-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>Categorical data</a></span></li></ul></li><li><span><a href="#Checking-for-duplicate-data" data-toc-modified-id="Checking-for-duplicate-data-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Checking for duplicate data</a></span></li></ul></li><li><span><a href="#Encoding" data-toc-modified-id="Encoding-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Encoding</a></span><ul class="toc-item"><li><span><a href="#Label-encoding-approach" data-toc-modified-id="Label-encoding-approach-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Label encoding approach</a></span></li><li><span><a href="#One-hot-encoding" data-toc-modified-id="One-hot-encoding-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>One-hot encoding</a></span></li></ul></li><li><span><a href="#Building-baseline-models" data-toc-modified-id="Building-baseline-models-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Building baseline models</a></span><ul class="toc-item"><li><span><a href="#Logistic-Regression" data-toc-modified-id="Logistic-Regression-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Logistic Regression</a></span></li><li><span><a href="#Decision-Tree" data-toc-modified-id="Decision-Tree-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Decision Tree</a></span></li><li><span><a href="#KNN-model" data-toc-modified-id="KNN-model-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>KNN model</a></span></li><li><span><a href="#Summarizing-performance" data-toc-modified-id="Summarizing-performance-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Summarizing performance</a></span></li></ul></li></ul></div>

# Phase3 Project

## Business Objective

**To help the Goverment of Tanzania monitor the condition of installed waterpumps across the country.Given a set of parameters, the model should be able to predict the status of a waterpump. Status can be as classified as:** 
1. Functional
2. Needs repair
3. Does not work


# Dataset

Dataset sourced from: https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/page/23/

# EDA

In [1]:
# importing dataset
import pandas as pd

df = pd.read_csv('waterwell.csv')
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,3/14/2011,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,3/6/2013,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2/25/2013,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,1/28/2013,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,7/13/2011,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 18.6+ MB

## Checking for Null values

In [3]:
# checking for null values and returning it as a pandas series
empty=df.isna().sum()
empty

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [4]:
#converting the empty series into a dictionary
empty_dict = dict(empty)

#looping thru dictionary to isolate the columns that have null values
empty_list =[]
for key,value in empty_dict.items():
    if value != 0:
        empty_list.append(key)
        
empty_list
# we now have the list of columns that have null values

['funder',
 'installer',
 'subvillage',
 'public_meeting',
 'scheme_management',
 'scheme_name',
 'permit']

In [5]:
# examining those columns
df_empty = df[empty_list]
df_empty

,funder,installer,subvillage,public_meeting,scheme_management,scheme_name,permit
0,Roman,Roman,Mnyusi B,True,VWC,Roman,False
1,Grumeti,GRUMETI,Nyamara,NaN,Other,NaN,True
2,Lottery Club,World vision,Majengo,True,VWC,Nyumba ya mungu pipe scheme,True
3,Unicef,UNICEF,Mahakamani,True,VWC,NaN,True
4,Action In A,Artisan,Kyanyamisa,True,NaN,NaN,True
...,...,...,...,...,...,...,...
59395,Germany Republi,CES,Kiduruni,True,Water Board,Losaa Kia water supply,True
59396,Cefa-njombe,Cefa,Igumbilo,True,VWC,Ikondo electrical water sch,True
59397,NaN,NaN,Madungulu,True,VWC,NaN,False
59398,Malec,Musa,Mwinyi,True,VWC,NaN,True
59399,World Bank,World,Kikatanyemba,True,VWC,NaN,True

In [6]:
df_empty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   funder             55765 non-null  object
 1   installer          55745 non-null  object
 2   subvillage         59029 non-null  object
 3   public_meeting     56066 non-null  object
 4   scheme_management  55523 non-null  object
 5   scheme_name        31234 non-null  object
 6   permit             56344 non-null  object
dtypes: object(7)
memory usage: 3.2+ MB

We can see that all the columns that have null values are categorical.
Also,recall from the original df that total number of rows is 59400

In [7]:
# looking at scheme_name first since it has the highest number of null values
df['scheme_name'].value_counts()

K                             682
None                          644
Borehole                      546
Chalinze wate                 405
M                             400
                             ...
BL Losei                        1
Magoto piped  water suplly      1
ADP Simbu                       1
Msengoni B water supply         1
Msanzu Kati                     1
Name: scheme_name, Length: 2696, dtype: int64

Since 'scheme_name' has approx. 47% of the data missing, even classifying this as 'missing' 
might skew the analysis. Hence it's best to remove it from the analysis.

In [8]:
#creating a copy of df for the analysis
df1 =df.copy()
df1.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,3/14/2011,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,3/6/2013,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2/25/2013,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,1/28/2013,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,7/13/2011,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [9]:
# removing 'scheme_name' from the df
df1.drop('scheme_name',axis=1,inplace=True)

Since, the rest of the columns have approx. only 6% of the data missing, we can either choose to drop it
or classify it as 'MISSING' for the analysis. Let's classify it as 'MISSING'

In [10]:
#replacing the null values as 'MISSING'
df1.fillna('MISSING',inplace=True)

In [11]:
# checking the df
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 59400 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              59400 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59400 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         59400 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      59400 non-null  object
 21  permit                 59400 non-null  object
 22  construction_year      59400 non-null  int64
 23  extraction_type        59400 non-null  object
 24  extraction_type_group  59400 non-null  object
 25  extraction_type_class  59400 non-null  object
 26  management             59400 non-null  object
 27  management_group       59400 non-null  object
 28  payment                59400 non-null  object
 29  payment_type           59400 non-null  object
 30  water_quality          59400 non-null  object
 31  quality_group          59400 non-null  object
 32  quantity               59400 non-null  object
 33  quantity_group         59400 non-null  object
 34  source                 59400 non-null  object
 35  source_type            59400 non-null  object
 36  source_class           59400 non-null  object
 37  waterpoint_type        59400 non-null  object
 38  waterpoint_type_group  59400 non-null  object
 39  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 18.1+ MB

We can see that there no more missing values

## Examining the traget feature

In [12]:
#examining the target variable
df1['status_group'].value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

'functional needs repair' is far less represented as opposed to the other 2 classes.
This imbalance might be an avenue for optimization.

## Checking the datatypes

In [13]:
# examining the data types of the df
df1.dtypes.value_counts()

object     30
int64       7
float64     3
dtype: int64

We can see that most of the features are categorical

### Numeric data

In [14]:
# looking at the distributions of the numerical data
#creating a subset of the numeric data
df1_numeric = pd.DataFrame(df1.select_dtypes(include=['int64','float64']))
df1_numeric.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
0,69572,6000.0,1390,34.938093,-9.856322,0,11,5,109,1999
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009
3,67743,0.0,263,38.486161,-11.155298,0,90,63,58,1986
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,0

### Categorical data

Since we have a large amount of categorical data, applying one-hot encoding to all of them does might result in a lot of redundant/useless data that will affect model performance. Let's explore some of the features and see if we can trim remove some of them.

In [15]:
df1[['payment','payment_type']]

                     payment payment_type
0               pay annually     annually
1                  never pay    never pay
2             pay per bucket   per bucket
3                  never pay    never pay
4                  never pay    never pay
...                      ...          ...
59395         pay per bucket   per bucket
59396           pay annually     annually
59397            pay monthly      monthly
59398              never pay    never pay
59399  pay when scheme fails   on failure

[59400 rows x 2 columns]

Since they are the same, we can delete either 'payment' or 'payment_type'

In [16]:
#dropping 'payment_type' from the df
df1.drop('payment_type',axis=1,inplace=True)

In [17]:
df1[['extraction_type', 'extraction_type_group', 'extraction_type_class']]

      extraction_type extraction_type_group extraction_type_class
0             gravity               gravity               gravity
1             gravity               gravity               gravity
2             gravity               gravity               gravity
3         submersible           submersible           submersible
4             gravity               gravity               gravity
...               ...                   ...                   ...
59395         gravity               gravity               gravity
59396         gravity               gravity               gravity
59397          swn 80                swn 80              handpump
59398     nira/tanira           nira/tanira              handpump
59399     nira/tanira           nira/tanira              handpump

[59400 rows x 3 columns]

Again, these are similar and we can chose to eliminate 2 of them from our analysis

In [18]:
df1.drop(['extraction_type_group','extraction_type_class'],axis=1,inplace=True)

In [19]:
df1[['management','management_group']]

        management management_group
0              vwc       user-group
1              wug       user-group
2              vwc       user-group
3              vwc       user-group
4            other            other
...            ...              ...
59395  water board       user-group
59396          vwc       user-group
59397          vwc       user-group
59398          vwc       user-group
59399          vwc       user-group

[59400 rows x 2 columns]

In [20]:
df1['management'].unique()

array(['vwc', 'wug', 'other', 'private operator', 'water board', 'wua',
       'company', 'water authority', 'parastatal', 'unknown',
       'other - school', 'trust'], dtype=object)

In [21]:
df1['management_group'].unique()

array(['user-group', 'other', 'commercial', 'parastatal', 'unknown'],
      dtype=object)

We can remove 'management_group' since 'management' provides more detail.

In [22]:
#drop
df1.drop('management_group',axis=1,inplace=True)

In [23]:
df1[['source','source_type','source_class']]

                     source           source_type source_class
0                    spring                spring  groundwater
1      rainwater harvesting  rainwater harvesting      surface
2                       dam                   dam      surface
3               machine dbh              borehole  groundwater
4      rainwater harvesting  rainwater harvesting      surface
...                     ...                   ...          ...
59395                spring                spring  groundwater
59396                 river            river/lake      surface
59397           machine dbh              borehole  groundwater
59398          shallow well          shallow well  groundwater
59399          shallow well          shallow well  groundwater

[59400 rows x 3 columns]

In [24]:
df1['source'].unique()

array(['spring', 'rainwater harvesting', 'dam', 'machine dbh', 'other',
       'shallow well', 'river', 'hand dtw', 'lake', 'unknown'],
      dtype=object)

In [25]:
df1['source_type'].unique()

array(['spring', 'rainwater harvesting', 'dam', 'borehole', 'other',
       'shallow well', 'river/lake'], dtype=object)

In [26]:
df1['source_class'].unique()

array(['groundwater', 'surface', 'unknown'], dtype=object)

We can choose 'source' over the other two features

In [27]:
#drop
df1.drop(['source_type','source_class'],axis=1,inplace=True)

In [28]:
df1[['water_quality','quality_group','quantity','quantity_group','waterpoint_type','waterpoint_type_group']]

,water_quality,quality_group,quantity,quantity_group,waterpoint_type,waterpoint_type_group
0,soft,good,enough,enough,communal standpipe,communal standpipe
1,soft,good,insufficient,insufficient,communal standpipe,communal standpipe
2,soft,good,enough,enough,communal standpipe multiple,communal standpipe
3,soft,good,dry,dry,communal standpipe multiple,communal standpipe
4,soft,good,seasonal,seasonal,communal standpipe,communal standpipe
...,...,...,...,...,...,...
59395,soft,good,enough,enough,communal standpipe,communal standpipe
59396,soft,good,enough,enough,communal standpipe,communal standpipe
59397,fluoride,fluoride,enough,enough,hand pump,hand pump
59398,soft,good,insufficient,insufficient,hand pump,hand pump
59399,salty,salty,enough,enough,hand pump,hand pump

In [29]:
df1['water_quality'].unique()

array(['soft', 'salty', 'milky', 'unknown', 'fluoride', 'coloured',
       'salty abandoned', 'fluoride abandoned'], dtype=object)

In [30]:
df1['quality_group'].unique()

array(['good', 'salty', 'milky', 'unknown', 'fluoride', 'colored'],
      dtype=object)

In [31]:
df1['quantity'].unique()

array(['enough', 'insufficient', 'dry', 'seasonal', 'unknown'],
      dtype=object)

In [32]:
df1['quantity_group'].unique()

array(['enough', 'insufficient', 'dry', 'seasonal', 'unknown'],
      dtype=object)

In [33]:
df1['waterpoint_type'].unique()

array(['communal standpipe', 'communal standpipe multiple', 'hand pump',
       'other', 'improved spring', 'cattle trough', 'dam'], dtype=object)

In [34]:
df1['waterpoint_type_group'].unique()

array(['communal standpipe', 'hand pump', 'other', 'improved spring',
       'cattle trough', 'dam'], dtype=object)

In [35]:
#dropping quality_group,quantity_group and waterpoint_type_group
df1.drop(['quality_group','waterpoint_type_group','quantity_group'],axis=1,inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 59400 non-null  int64
 1   amount_tsh         59400 non-null  float64
 2   date_recorded      59400 non-null  object
 3   funder             59400 non-null  object
 4   gps_height         59400 non-null  int64
 5   installer          59400 non-null  object
 6   longitude          59400 non-null  float64
 7   latitude           59400 non-null  float64
 8   wpt_name           59400 non-null  object
 9   num_private        59400 non-null  int64
 10  basin              59400 non-null  object
 11  subvillage         59400 non-null  object
 12  region             59400 non-null  object
 13  region_code        59400 non-null  int64
 14  district_code      59400 non-null  int64
 15  lga                59400 non-null  object
 16  ward               59400 non-null  object
 17  population         59400 non-null  int64
 18  public_meeting     59400 non-null  object
 19  recorded_by        59400 non-null  object
 20  scheme_management  59400 non-null  object
 21  permit             59400 non-null  object
 22  construction_year  59400 non-null  int64
 23  extraction_type    59400 non-null  object
 24  management         59400 non-null  object
 25  payment            59400 non-null  object
 26  water_quality      59400 non-null  object
 27  quantity           59400 non-null  object
 28  source             59400 non-null  object
 29  waterpoint_type    59400 non-null  object
 30  status_group       59400 non-null  object
dtypes: float64(3), int64(7), object(21)
memory usage: 14.0+ MB

In [36]:
df1[['region','region_code','district_code']]

            region  region_code  district_code
0           Iringa           11              5
1             Mara           20              2
2          Manyara           21              4
3           Mtwara           90             63
4           Kagera           18              1
...            ...          ...            ...
59395  Kilimanjaro            3              5
59396       Iringa           11              4
59397        Mbeya           12              7
59398       Dodoma            1              4
59399     Morogoro            5              2

[59400 rows x 3 columns]

In [37]:
df1['public_meeting'].unique()

array([True, 'MISSING', False], dtype=object)

In [38]:
df1['recorded_by'].unique()

array(['GeoData Consultants Ltd'], dtype=object)

In [39]:
df1['num_private'].unique()

array([   0,   39,    5,   45,    6,    3,  698,   32,   15,    7,   25,
        102,    1,   93,   14,   34,  120,   17,  213,   47,    8,   41,
         80,  141,   20,   35,  131,    4,   22,   11,   87,   61,   65,
        136,    2,  180,   38,   62,    9,   16,   23,   42,   24,   12,
        668,  672,   58,  150,  280,  160,   50, 1776,   30,   27,   10,
         94,   26,  450,  240,  755,   60,  111,  300,   55, 1402],
      dtype=int64)

In [40]:
df1[['scheme_management','permit']]

      scheme_management permit
0                   VWC  False
1                 Other   True
2                   VWC   True
3                   VWC   True
4               MISSING   True
...                 ...    ...
59395       Water Board   True
59396               VWC   True
59397               VWC  False
59398               VWC   True
59399               VWC   True

[59400 rows x 2 columns]

In [41]:
df1['scheme_management'].unique()

array(['VWC', 'Other', 'MISSING', 'Private operator', 'WUG',
       'Water Board', 'WUA', 'Water authority', 'Company', 'Parastatal',
       'Trust', 'SWC', 'None'], dtype=object)

Looks like 'scheme_management' has the same info as 'management' and hence can be removed

In [42]:
#dropping scheme_management
df1.drop('scheme_management',axis=1,inplace=True)

In [43]:
#dropping id,wpt_name since they will not have a bearing on the analysis
df1.drop(['id','wpt_name'],axis=1,inplace=True)

In [44]:
df1[['funder','installer']]

                funder     installer
0                Roman         Roman
1              Grumeti       GRUMETI
2         Lottery Club  World vision
3               Unicef        UNICEF
4          Action In A       Artisan
...                ...           ...
59395  Germany Republi           CES
59396      Cefa-njombe          Cefa
59397          MISSING       MISSING
59398            Malec          Musa
59399       World Bank         World

[59400 rows x 2 columns]

## Checking for duplicate data

In [45]:
#checking for duplicate data based on all the columns
df[df1.duplicated()]

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
370,59310,0.0,7/18/2011,Government Of Tanzania,0,Government,0.0,-2.000000e-08,Nesrsing College,0,...,soft,good,insufficient,insufficient,machine dbh,borehole,groundwater,communal standpipe,communal standpipe,functional
2634,26938,0.0,8/22/2011,Government Of Tanzania,0,DWE,0.0,-2.000000e-08,Mahakamani,0,...,soft,good,insufficient,insufficient,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
5563,30389,0.0,8/22/2011,Government Of Tanzania,0,DWE,0.0,-2.000000e-08,Sokoni,0,...,soft,good,insufficient,insufficient,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
6218,4377,0.0,12/11/2012,Government Of Tanzania,0,RWE,0.0,-2.000000e-08,Kwanyanda,0,...,soft,good,insufficient,insufficient,lake,river/lake,surface,communal standpipe,communal standpipe,non functional
7709,23184,0.0,2/16/2013,Dwsp,0,DWE,0.0,-2.000000e-08,Sango,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57662,47039,0.0,10/25/2012,Dwsp,0,DWE,0.0,-2.000000e-08,Inonelwa,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
57807,49622,0.0,8/26/2011,Government Of Tanzania,0,Government,0.0,-2.000000e-08,Makoye,0,...,unknown,unknown,dry,dry,lake,river/lake,surface,communal standpipe multiple,communal standpipe,non functional
58463,1562,0.0,2/16/2013,Dwsp,0,DWE,0.0,-2.000000e-08,Igolola,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
58859,63207,0.0,10/26/2012,Lwi,0,LWI,0.0,-2.000000e-08,Msituni,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
59166,52986,0.0,1/22/2013,World Vision,0,World Vision,0.0,-2.000000e-08,Shule Ya Msingi Mwakilangi,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional

We can that there are 36 rows of duplicate data. We can remove them from the dataset

In [46]:
#removing duplicates
df1.drop_duplicates(inplace=True,keep='first')
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59259 entries, 0 to 59399
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   amount_tsh         59259 non-null  float64
 1   date_recorded      59259 non-null  object
 2   funder             59259 non-null  object
 3   gps_height         59259 non-null  int64
 4   installer          59259 non-null  object
 5   longitude          59259 non-null  float64
 6   latitude           59259 non-null  float64
 7   num_private        59259 non-null  int64
 8   basin              59259 non-null  object
 9   subvillage         59259 non-null  object
 10  region             59259 non-null  object
 11  region_code        59259 non-null  int64
 12  district_code      59259 non-null  int64
 13  lga                59259 non-null  object
 14  ward               59259 non-null  object
 15  population         59259 non-null  int64
 16  public_meeting     59259 non-null  object
 17  recorded_by        59259 non-null  object
 18  permit             59259 non-null  object
 19  construction_year  59259 non-null  int64
 20  extraction_type    59259 non-null  object
 21  management         59259 non-null  object
 22  payment            59259 non-null  object
 23  water_quality      59259 non-null  object
 24  quantity           59259 non-null  object
 25  source             59259 non-null  object
 26  waterpoint_type    59259 non-null  object
 27  status_group       59259 non-null  object
dtypes: float64(3), int64(6), object(19)
memory usage: 13.1+ MB

We now have a dataset that in has no null and duplicate values.

# Encoding

In [47]:
df1_cat = df1.select_dtypes(include=['object'])
df1_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59259 entries, 0 to 59399
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date_recorded    59259 non-null  object
 1   funder           59259 non-null  object
 2   installer        59259 non-null  object
 3   basin            59259 non-null  object
 4   subvillage       59259 non-null  object
 5   region           59259 non-null  object
 6   lga              59259 non-null  object
 7   ward             59259 non-null  object
 8   public_meeting   59259 non-null  object
 9   recorded_by      59259 non-null  object
 10  permit           59259 non-null  object
 11  extraction_type  59259 non-null  object
 12  management       59259 non-null  object
 13  payment          59259 non-null  object
 14  water_quality    59259 non-null  object
 15  quantity         59259 non-null  object
 16  source           59259 non-null  object
 17  waterpoint_type  59259 non-null  object
 18  status_group     59259 non-null  object
dtypes: object(19)
memory usage: 9.0+ MB

In [48]:
#Cheking for the number of unique values in each column
cols=[]
unique_number = []
for name in df1_cat.columns:
    cols.append(name)
for item in cols:
    unique_number.append(df1_cat[item].nunique())
    
unique_dict =dict(zip(cols,unique_number))
unique_dict

{'date_recorded': 356,
 'funder': 1898,
 'installer': 2146,
 'basin': 9,
 'subvillage': 19288,
 'region': 21,
 'lga': 125,
 'ward': 2092,
 'public_meeting': 3,
 'recorded_by': 1,
 'permit': 3,
 'extraction_type': 18,
 'management': 12,
 'payment': 7,
 'water_quality': 8,
 'quantity': 5,
 'source': 10,
 'waterpoint_type': 7,
 'status_group': 3}

Since there are certain feautures with a large number of unique values, we can try encoding the categorical data 
by using two diffrent methods to see which works best: label encoding and one hot encoding

## Label encoding approach

In [49]:
#import the library
from sklearn.preprocessing import LabelEncoder

#instantiate the encoder
labelencoder = LabelEncoder()

#converting df1_cat into str type 
df1_cat = df1_cat.astype('str')

#fit and transform the categrical data
df1_cat_enc = df1_cat.apply(labelencoder.fit_transform)
df1_cat_enc.shape

(59259, 19)

## One-hot encoding

In [50]:
#using the get dummies method to one hot encode
df1_cat_ohe=pd.get_dummies(df1_cat)

#creating another copy of the df for analysis 
df3 = df1.copy()
df3.drop(df1_cat.columns,axis=1,inplace=True)

#concatenating the two df's
df3 = pd.concat([df3,df1_cat_ohe],axis=1)
df3.shape

(59259, 26021)

We can see that having such a large df would be computationally very expensive to compute and fine-tune.
Hence, we will use the LabelEncoding approach for our analysis

In [51]:
#making a copy for analysis
df2 = df1.copy()

#dropping the categorical columns
df2.drop(df1_cat_enc.columns,axis=1,inplace=True)
df2.info()

#combining the encoded and numeric data
df2 = pd.concat([df2,df1_cat_enc],axis=1)
df2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59259 entries, 0 to 59399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   amount_tsh         59259 non-null  float64
 1   gps_height         59259 non-null  int64
 2   longitude          59259 non-null  float64
 3   latitude           59259 non-null  float64
 4   num_private        59259 non-null  int64
 5   region_code        59259 non-null  int64
 6   district_code      59259 non-null  int64
 7   population         59259 non-null  int64
 8   construction_year  59259 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 4.5 MB

,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,date_recorded,...,recorded_by,permit,extraction_type,management,payment,water_quality,quantity,source,waterpoint_type,status_group
0,6000.0,1390,34.938093,-9.856322,0,11,5,109,1999,171,...,0,0,3,7,2,6,1,8,1,0
1,0.0,1399,34.698766,-2.147466,0,20,2,280,2010,216,...,0,2,3,11,0,6,2,5,1,0
2,25.0,686,37.460664,-3.821329,0,21,4,250,2009,144,...,0,2,3,7,4,6,1,0,2,0
3,0.0,263,38.486161,-11.155298,0,90,63,58,1986,21,...,0,2,14,7,0,6,0,3,2,2
4,0.0,0,31.130847,-1.825359,0,18,1,0,0,268,...,0,2,3,1,0,6,3,5,1,0

We now have df2 with encoded values that we can use for modelling.
We will build 3 different basline models and compare their accuracies. We will then select 
the one with the highest accuracy to fine tune and build upon.

# Building baseline models

## Logistic Regression

In [52]:
#importing relevant libraries
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

#creating X and y
X=df2.drop('status_group',axis=1)
y=df2[['status_group']]

#splitting the train and test sets
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=123)

#instantiate logistic regression model
logreg = LogisticRegression()

#fit the model onto the train sets
logreg.fit(X_train,y_train)
logreg

#predict values of the model
y_hat_train = logreg.predict(X_train)
y_hat_test = logreg.predict(X_test)

#evaluate model 
from sklearn.metrics import classification_report
names = ['functional','non functional','functional needs repair']
print(classification_report(y_test,y_hat_test,target_names=names))

                         precision    recall  f1-score   support

             functional       0.56      0.90      0.69      7945
         non functional       0.00      0.00      0.00      1091
functional needs repair       0.56      0.21      0.31      5779

               accuracy                           0.56     14815
              macro avg       0.38      0.37      0.33     14815
           weighted avg       0.52      0.56      0.49     14815

## Decision Tree

In [53]:
#import library
from sklearn.tree import DecisionTreeClassifier

#instantiate 
clf = DecisionTreeClassifier(criterion='entropy')

#fit the model onto the train sets
clf.fit(X_train,y_train)

#predict 
y_hat_train = clf.predict(X_train)
y_hat_test = clf.predict(X_test)

#evaluate model 
from sklearn.metrics import classification_report
print(classification_report(y_test,y_hat_test,target_names=names))

                         precision    recall  f1-score   support

             functional       0.79      0.79      0.79      7945
         non functional       0.37      0.38      0.37      1091
functional needs repair       0.76      0.76      0.76      5779

               accuracy                           0.75     14815
              macro avg       0.64      0.64      0.64     14815
           weighted avg       0.75      0.75      0.75     14815

## KNN model

In [54]:
#import library
from sklearn.neighbors import KNeighborsClassifier

#instantiate 
knn_baseline_model = KNeighborsClassifier()

#fit onto the data
knn_baseline_model.fit(X_train,y_train)

#predict
y_hat_train = knn_baseline_model.predict(X_train)
y_hat_test = knn_baseline_model.predict(X_test)

#evaluate model 
from sklearn.metrics import classification_report
print(classification_report(y_test,y_hat_test,target_names=names))

                         precision    recall  f1-score   support

             functional       0.65      0.76      0.70      7945
         non functional       0.31      0.16      0.21      1091
functional needs repair       0.61      0.52      0.56      5779

               accuracy                           0.62     14815
              macro avg       0.52      0.48      0.49     14815
           weighted avg       0.61      0.62      0.61     14815

## Summarizing performance